.navHeader {
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #fff;
  //background-color: var(--dark-bg-color);
  color: var(--dark-color);
}

.left, .right {
  display: flex;
  align-items: center;
}

.nickname {
  cursor: pointer;
  color: var(--dark-color);
}
